.container {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50vw;
    background-color: rgb(225, 227, 235);
    color: black;
}

.card-grid{
    display: list-item;
    padding-top: 5px;
    margin-top: 10px;
    display:grid;
    align-items: first baseline;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    gap: 22px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;


.container button{
    background-color: transparent;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    color: black;
    font-weight:bold;
    transition: all 0.1s linear 0.1s;
}


.container button:hover{
    color:red;
    border-color: red;
    transform: scale(1.1);
    transition-delay: 0.5;
}

<<<<<<< HEAD
.logoSize{
    width: 100vw;
    height: 18vw;
}

.espacamento{
    padding-left: 8px;
    padding-bottom: 4px;
    display: flex;
    gap: 16px;
    padding-left: 8px;
    height: 50px;
}
.txtarea{
    border-width: 2px;
    border-color: white;
    border-radius: 8%;
    width: 180px;
    height: 42px;
    font-size: 20px;
    display: flex;
    align-items: center;
    appearance: center;
    text-align: center;
}

.loginSize{
    padding-top: 1px;
    padding-bottom: 1px;
    width: 22px;
    height: 32px;
    gap: 12px;
}

.espacamentoLogin{
    display: flex;
    height: 50px;
    padding-left: 910px;
    padding-right: 8px;
    gap: 15px;
    justify-content: center;
}

.btnLogin{
    width: 74px;
    height: 50px;
    padding-bottom: 4px;
}

.btnSize{
    height: 50px;
    width: 40px;
    display: block;
    inline-size: none;
}

.iconSize{
    height: 30px;
    width: 30px;
}

