<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locadora de Carros</title>
</head>
<body>
    <h1>Locadora de Carros</h1>

    
    <form id="carForm">
        <input type="text" id="modelo" placeholder="modelo" required />
        <input type="text" id="placa" placeholder="placa" required />
        <input type="text" id="cor" placeholder="cor" required />
        <input type="text" id="marca" placeholder="marca" required />
        
        <button type="submit">Add Car</button>
    </form>

    
    <h2>Cars</h2>
    <ul id="carList"></ul>

    <script src="../script/scriptCarro.js"></script>
</body>
</html>
